<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vuex Page</title>
    <!-- CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .completed {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <!--<p>{{ count }}</p>-->
        <!--<p>-->
            <!--<button @click="increment">+</button>-->
            <!--<button @click="decrement">-</button>-->
        <!--</p>-->
    </div>
    <!-- JS -->
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="./node_modules/vuex/dist/vuex.js"></script>
    <!--<script src="http://wzrd.in/standalone/uuid@latest"></script>-->
    <script src="./app.js"></script>
</body>
</html>
